.question-container {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
}

.ans {
    display: block;
    padding-bottom: 8px;
}
.anstext{
    padding: 6px 10px;
    width: 100%;
}