<div class="question-container">
    <p>{{ question.question }}</p>

    <div *ngIf="question.options && question.options.length > 0 && question.type=='dropdown'">
        <label class="ans">
            <select (change)="Submit($event)"  class="optionclass">
                <option value="" disabled selected>Select an option</option>
                <option *ngFor="let option of question.options" [value]="option">{{ option }}</option>
            </select>
        </label>
    </div>
    <div *ngIf="question.type=='textinput'">
        <label class="ans">
            <input class="anstext" type="text" placeholder="Enter text here" [(ngModel)]="enterans">
        </label>
    </div>

    <div *ngIf="question.subQue && question.subQue.length > 0">
        <div *ngIf="showSubQuestions">
            <div *ngFor="let subQuestion of subquestioncheck">
                <app-quiz-question [question]="subQuestion"></app-quiz-question>
            </div>
        </div>
    </div>
</div>
